<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title> Sistema bancario </title>
  </head>
  <body>
    <h1><%= titulo %></h1>
    
    
  </body>
</html>
